# Environment variables
.env
.env.secrets

# Playwright
.history/
node_modules/
/test-results/
/playwright-report/
/allure-report/
/allure-results/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# VS Code settings
.vscode/

# Playwright output
test-results/
playwright-report/
playwright/.cache/

# TypeScript cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
test-logs